#home {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7397852f;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    transition: all 0.5s ease-in-out;
}
#home i {
    color:black;
    position:absolute;
    top:30%;
    left:30%;
    margin:auto auto;
    transition: all 0.5s ease-in-out;
}
#scroll:hover {
    background-color: rgb(101, 255, 45);
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
#scroll:hover i {
    border-bottom-color: #ffffff;
}